
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;  
  border:1px solid black;

}
h1 {
  text-align: center;
}

.container1 {
  text-align: left;
  line-height: 40px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(202, 197, 197);  
}

/* app.css */

table {
  border-spacing: 10px; /* Adjust the value to increase or decrease space between columns */
}

/* Additional styling for table cells if needed */
table th, table td {
  padding: 10px; /* Add padding to table cells for better spacing */
}

/* app.css */

/* app.css */
.reg-user-heading {
  text-align: center;
  margin-bottom: 10px;
}
